.icon{
    width: 150px;
    height: auto;
    fill:white;
}

#mist{
    width: 100px;
}

#clear{
    width: 130px;
}

#rain{
    width: 130px;
    margin-top: 1.8em;
}

#thunderstorm{
    width: 130px;
}

#snow{
    width: 130px;
}

#moon{
    width: 120px;
}